<md-card class="wnh-post">
    <div class="embed-responsive embed-responsive-16by9">
        <youtube-video video-id="playof.youtubeId" class="embed-responsive-item" player="ytplayer"></youtube-video>
    </div>

    <div class="wnh-post__content">
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-class="{'vote-btn': true, 'md-fab': true, 'md-hue-3': !hasVote}"
                       ng-mouseover="voteHover(true)" ng-mouseleave="voteHover(false)" class="md-accent"
                       ng-click="vote()"
                       aria-label="Vote">
                <md-tooltip md-direction="bottom">
                    Vote for this play of the game
                </md-tooltip>
                <md-icon ng-if="voteIsHover && !hasVote">add</md-icon>
                <md-icon ng-if="voteIsHover && hasVote">remove</md-icon>
                <span ng-if="!voteIsHover">{{playof.votesCount}}</span>
            </md-button>
            <span flex></span>

            <div class="hero-tag hero-color-{{playof.hero}}"><span class="ohi-{{playof.hero}} hero-icon"></span>
                {{playof.hero | heroName}}
            </div>
        </md-card-actions>

        <md-card-content ng-if="playof.description">
            {{playof.description}}
        </md-card-content>

        <md-card-header ng-if="author && author.name">
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{author.picture}}">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title wnh-post__author">
                    Posted by
                    <span ng-if="currentUser.uid !== playof.userId">{{author.name}}</span>
                    <span ng-if="currentUser.uid === playof.userId">you</span>
                </span>
                <span class="md-subhead">
                    <span ng-if="author.battletag" class="wnh-post__author-tag">
                        <md-tooltip md-direction="bottom">
                            BattleTag
                        </md-tooltip>
                        {{author.battletag}}
                    </span>
                </span>
            </md-card-header-text>
        </md-card-header>
    </div>
</md-card>