[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: 'Big Noodle Too';
  src: url('../fonts/big-noodle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'overwatch-heroes';
  src: url('../fonts/overwatch-heroes.ttf?rql2oo') format('truetype'),
  url('../fonts/overwatch-heroes.woff?rql2oo') format('woff'),
  url('../fonts/overwatch-heroes.svg?rql2oo#overwatch-heroes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ohi-"], [class*=" ohi-"] {
  font-family: 'overwatch-heroes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ohi-bastion:before {
  content: "\e900";
}

.ohi-dva:before {
  content: "\e901";
}

.ohi-genji:before {
  content: "\e902";
}

.ohi-hanzo:before {
  content: "\e903";
}

.ohi-junkrat:before {
  content: "\e904";
}

.ohi-lucio:before {
  content: "\e905";
}

.ohi-mccree:before {
  content: "\e906";
}

.ohi-mei:before {
  content: "\e907";
}

.ohi-mercy:before {
  content: "\e908";
}

.ohi-pharah:before {
  content: "\e909";
}

.ohi-reaper:before {
  content: "\e90a";
}

.ohi-reinhardt:before {
  content: "\e90b";
}

.ohi-roadhog:before {
  content: "\e90c";
}

.ohi-soldier76:before {
  content: "\e90d";
}

.ohi-symmetra:before {
  content: "\e90e";
}

.ohi-torbjorn:before {
  content: "\e90f";
}

.ohi-tracer:before {
  content: "\e910";
}

.ohi-widowmaker:before {
  content: "\e911";
}

.ohi-winston:before {
  content: "\e912";
}

.ohi-zarya:before {
  content: "\e913";
}

.ohi-zenyatta:before {
  content: "\e914";
}

body {
  font-family: "century gothic", arial, sans-serif;
  font-weight: bold;
}

.login-dialog {
  text-align: center;
}

.toolbar-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
  color: #b5b5b5;
  text-align: center;
  font-weight: normal;
}

.footer__link {
  font-weight: bold;
  text-decoration: none;
  color: #4298d2;
}

.md-button {
  font-weight: bold;
}

md-card md-card-header:last-child md-card-avatar {
  margin-right: 12px;
  margin-left: 0;
}

.hero-icon {
  font-size: 24px;
}

.validation-msg {
  color: #c56d07;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}

.wnh-header, .wnh-header:visited, .wnh-header:hover, .wnh-header:active {
  font-family: "Big Noodle Too", impact, sans-serif;
  background-color: #324363;
  display: block;
  text-decoration: none;
}

.wnh-header-title {
  color: #f89b30;
  padding: 25px 0 0 50px;
  font-size: 3rem;
}

.wnh-header-subtitle {
  color: #4298d2;
  padding: 0 0 0 75px;
  font-size: 1.2rem;
}

.wnh-post {
}

.wnh-post__content {
}

.wnh-post__author {
  font-weight: bold;
}

.wnh-post__author-tag {
  color: #4298d2;
}

.wnh-post__vote-btn {
}

.wnh-post__vote-count {
  font-weight: normal;
  font-style: italic;
  margin-left: 10px;
  color: #666;
}

.wnh-post__hero-tag {
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
}

.wnh-post__hero-icon {
  font-size: 32px;
}

.wnh-post__hero-tag--color-multi {
  background-color: lightgrey;
  color: #324363;
}

.wnh-post__hero-tag--color-genji {
  background-color: rgb(160, 182, 138);
}

.wnh-post__hero-tag--color-mccree {
  background-color: rgb(183, 79, 55);
}

.wnh-post__hero-tag--color-pharah {
  background-color: rgb(75, 115, 173);
}

.wnh-post__hero-tag--color-reaper {
  background-color: rgb(65, 59, 59);
}

.wnh-post__hero-tag--color-soldier76 {
  background-color: rgb(75, 92, 165);
}

.wnh-post__hero-tag--color-tracer {
  background-color: rgb(251, 169, 41);
}

.wnh-post__hero-tag--color-bastion {
  background-color: rgb(103, 115, 80);
}

.wnh-post__hero-tag--color-hanzo {
  background-color: rgb(63, 58, 54);
}

.wnh-post__hero-tag--color-junkrat {
  background-color: rgb(208, 160, 75);
}

.wnh-post__hero-tag--color-mei {
  background-color: rgb(118, 143, 168);
}

.wnh-post__hero-tag--color-torbjorn {
  background-color: rgb(188, 65, 54);
}

.wnh-post__hero-tag--color-widowmaker {
  background-color: rgb(156, 130, 154);
}

.wnh-post__hero-tag--color-dva {
  background-color: rgb(227, 142, 189);
}

.wnh-post__hero-tag--color-reinhardt {
  background-color: rgb(109, 109, 114);
}

.wnh-post__hero-tag--color-roadhog {
  background-color: rgb(186, 118, 99);
}

.wnh-post__hero-tag--color-winston {
  background-color: rgb(63, 64, 60);
}

.wnh-post__hero-tag--color-zarya {
  background-color: rgb(223, 70, 114);
}

.wnh-post__hero-tag--color-lucio {
  background-color: rgb(136, 193, 60);
}

.wnh-post__hero-tag--color-mercy {
  background-color: rgb(247, 245, 241);
  color: rgb(66, 51, 46);
}

.wnh-post__hero-tag--color-symmetra {
  background-color: rgb(94, 189, 207);
}

.wnh-post__hero-tag--color-zenyatta {
  background-color: rgb(210, 157, 116);
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.hint {
  padding-top: 5px;
  font-size: 0.8rem;
  font-weight: normal;
}

.progress-container {
  height: 50px;
  padding: 20px 0;
  text-align: center;
}

.show-more {
  text-align: center;
}
