<md-card class="wnh-post">
    <div class="embed-responsive embed-responsive-16by9">
        <youtube-video video-id="playof.youtubeId" class="embed-responsive-item" player="ytplayer"></youtube-video>
    </div>

    <div class="wnh-post-content">
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-class="{'vote-btn': true, 'md-fab': true, 'md-mini': true, 'md-primary': hasVote}"
                       ng-click="vote()" aria-label="Vote">
                <md-tooltip md-direction="bottom">
                    Vote for this play of the game
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
            <span flex></span>

            <md-chips>
                <md-chip>{{playof.hero}}</md-chip>
            </md-chips>
        </md-card-actions>

        <md-card-title ng-if="author">
            <span class="md-subhead">Posted by {{author.name}} ({{author.battletag}})</span>
        </md-card-title>
    </div>
</md-card>