<md-card class="wnh-post">
    <div class="embed-responsive embed-responsive-16by9">
        <youtube-video video-id="playof.youtubeId" class="embed-responsive-item" player="ytplayer"></youtube-video>
    </div>

    <div class="wnh-post-content">
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-class="{'vote-btn': true, 'md-fab': true, 'md-mini': true, 'md-primary': hasVote}"
                       ng-click="vote()" aria-label="Vote">
                <md-tooltip md-direction="bottom">
                    Vote for this play of the game
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
            <span flex></span>

            <div class="hero-tag hero-color-{{playof.hero}}"><span class="ohi-{{playof.hero}} hero-icon"></span> {{playof.hero | heroName}}</div>
        </md-card-actions>

        <md-card-content>
            <p ng-if="playof.description">{{playof.description}}</p>
            <div ng-if="author && author.name" class="text-small">
                Posted by {{author.name}}
                <span ng-if="author.battletag">
                    <md-tooltip md-direction="bottom">
                        BattleTag
                    </md-tooltip>
                    ({{author.battletag}})
                </span>
            </div>
        </md-card-content>
    </div>
</md-card>