<md-dialog flex="60" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p class="md-body-2">Add a video</p>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Youtube video link or ID</label>
                <input required name="videoLink" ng-model="newPost.videoLink">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Hero</label>
                <md-select required ng-model="newPost.hero">
                    <md-option ng-repeat="hero in heroesList" value="{{hero.id}}">
                        <md-icon ng-if="hero.id === 'multi'">grade</md-icon>
                        <md-icon class="ohi-{{hero.id}} hero-icon hero-icon--big" ng-if="hero.id !== 'multi'"></md-icon> {{hero.name}}
                    </md-option>
                </md-select>
                <div class="hint">Select "Multiple heroes" if more than one are displayed in the video</div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Description (optional)</label>
                <input name="description" ng-model="newPost.description">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="post()" class="md-accent">
            Post
        </md-button>
    </md-dialog-actions>
</md-dialog>